<html>
  <head>
      <meta charset="utf-8">
      <title>Puncome Search form</title>
      <style>
        .p-top-box,
        .p-top-box .p-icon,
        .p-input-box,
        .p-preview-box {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
        }

        .p-top-box,
        .p-input-box,
        .p-preview-box {
            width: 80%;
            margin: 25px auto;
        }

        .p-top-box .p-icon,
        .p-blank {
            width: 20%;
        }

        .p-top-box .p-icon {
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center;

          height: 45px;
        }

        .p-top-box .p-content,
        .p-input-box .p-text {
            width: 80%;
        }

        .p-top-box .p-content p {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .p-title {
            font-size: 2rem;
        }

        .p-desc {
            font-size: 1.2rem;
        }

        .p-text textarea {
            width: 100%;
            padding: 15px;
            height: 300px;
            box-shadow: inset 0 0 10px #dedede;
        }
      </style>
  </head>

  <body>
      <div class="p-top-box">
          <div class="p-icon"></div>
          <div class="p-content">
              <p class="p-title">THE PUNCOME TEXT EDITOR</p>
              <p class="p-desc">CAN YOU EXPLAIN A HARD IDEA USING ONLY THE TEN HUNDRED MOST USED WORDS? IT'S NOT VERY EASY. TYPE IN THE BOX TO TRY IT OUT.</p>
          </div>
      </div>
      <div class="p-input-box">
          <div class="p-blank"></div>
          <div class="p-text">
              <form action="/">
                <textarea name="input" id="p_input"><%= input %></textarea>
                <button type="submit">Submit</button>
              </form>
              คำเหล่านี้ไม่ใช่ 1000 คำที่ใช้บ่อย
              <textarea name="output" cols="30" rows="10"><%= output %></textarea>
          </div>
      </div>
  </body>
</html>
